#wrapper{
     width: 800px;
	 height: 600px;
	 margin: 0 auto;
}

#header{
	 text-align: center;
	 width: 800px;
	 background-color: blue;
}

#content{
	 float: left;
	 width: 600px;
	 height: 400px;
}

#sidebar{
	 float: right;
	 width: 200px;
	 height: 400px;
	 background-color: grey;
}

#footer{
	 clear: both;
	 width: 800px;
	 height: 50px;
	 background-color: green;
}